:	Create the C library as /lib/libc.a
:	[optional] -o or -n     for compiler other than cc
:	WARNING:  this make creates all .o files in current directory.
:		  therefore, source file names must be unique across
:		  all libc subdirectories: csu, crt, stdio, .etc.

trap "rm -f *.o a.out; exit" 0 3 15; trap "" 1 2
LIB=${LIB-/lib}
rm -f libc.a *.o

echo $LIB/libc.a
echo

c=cc
case $1 in

	-o)	c=occ
		shift
		;;

	-n)	c=ncc
		shift
		;;

esac
echo Compiler: $c
echo

$c -O -c [a-h]*/*.[c] 
$c -O -c [i-z0-9A-Z]*/*.[c] 
if [ ! $? = 0 ]
then
	echo "Compiler failure"
	exit
fi
for i in csu crt gen stdio sys; do
	if test "`echo $i/*.s`" = "$i/*.s"; then continue; fi
	for j in $i/*.s ; do
		/lib/cpp -P < $j > tempfile.s
		as -u -o `basename $j .s`.o tempfile.s
	done
done
rm -f tempfile.s

mv *crt0.o $LIB
chmod 0664 $LIB/*crt0.o
chgrp bin $LIB/*crt0.o
chown bin $LIB/*crt0.o

echo
echo "entering loader phase"
echo

: the following for loop removes local symbols from .o files
for i in *.o
do
	echo $i
	ld -rx $i
	if [ $? -gt 1 ]
	then
		echo "$i: loader failure"
		exit
	fi
	mv a.out $i
	chmod 0664 $i
	chgrp bin $i
	chown bin $i
done

echo
echo "make library"
echo

ar rv libc.a fltunused.o
rm fltunused.o

ar rv libc.a `lorder *.o | sed 's/^ *//' |
		sort | comm -23 - order.out | cat order.in - | tsort`
if [ ! $? = 0 ]
then
	echo "archive failure"
	exit
fi

ar m libc.a fltunused.o

cp libc.a /user/jse/libc.a
mv libc.a $LIB
chmod 0664 $LIB/libc.a
chgrp bin $LIB/libc.a
chown bin $LIB/libc.a
